<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

</head>
<body>
    <form action='dirname(dirname(dirname(_FILE_)))/Controller/LoginController.php' method='post' name='myForm'>
		Login Information:<br>
        username：<input type='text' name='username' class = 'content'/><br/>
        password：<input type='password' name='password' class = 'content'/><br/>
        <input type "submit" value = "Submit" name = "submit">
		<input type "reset" value = "Reset">
		
	</form>        
</body>
</html>