<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

</head>
<body>
    <form action='__URL__/Login' method='post' name='myForm'>
        username：<input type='text' name='username' class = 'content'/><br/>
        password：<input type='password' name='password' class = 'content'/><br/>
        <input type 'submit' value = "Submit" name = "submit" class = "content">
		<input type 'reset' value = "Reset" class = "content">
		
	</form>        
</body>
</html>